.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: #282e47;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

img {
  width: 100%;
}

.post {
  margin: 100px 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.date {
  color: #dc5036;
  font-weight: bold;
  font-size: 1.2rem;
}
